:root {
	--semiBoldFontWeight:530;
	--result-font-size:30px;
	
	/* old  colors*/
	/* --header-font-color: #002080;
	--background-color:#b3c6ff;
	--button-color:#F7F7D4;
	--button-focus-color:#f5f517f6;;
	--button-font-color:#FE2712;
	--disabled-button-color:#f5f5f5;
	--disabled-button-font-color:#fae6e2;
	--win-font-color:#008000;
	--fail-font-color:#e60000;
	--guessInputColor:#dfe7ff;
	--guessInputFocusColor:#88a2f7; */

	/* new */
	--header-font-color: #cc0052;
	--font-color: #342009;
	--background-color:#3da3cb;
	--secondary-background-color:#6efaff;
	/* --background-color:#347B98;
	--secondary-background-color:#18eef6; */
	--button-color:#F7D4D6;
	--button-focus-color:#fcf6f6;;
	--button-font-color:#FE2712;;
	/* --button-font-color:#FB8604; */
	--disabled-button-color:#f5f5f5;
	--disabled-button-font-color:#f9ebe8;
	--win-font-color:#006600;
	--fail-font-color:#cc0000;
	--guessInputColor:#5fc7f0;
	--guessInputFocusColor:#449fc3;

	
}
html{
	background-color: var(--background-color);
	background-image: linear-gradient(var(--secondary-background-color),  var(--background-color));
	min-height: 100%;
}

body{
	color:var(--font-color);
	font-size:20px;
	font-family:Helvetica;
	margin: 30px;
}

h1{
	text-align: center;
	color: var(--header-font-color);
	font-weight: 800;
}

div{
	margin-top: 10px;
	margin-bottom: 10px;
}

#instructionHeader{
	text-transform:uppercase;
}

#mainDiv{
	margin-left:25%;
	margin-right:25%;
}

#wordDisplay{
	font-size:200%;
}

#textDiv{
	text-align: center;
}

#guessDiv{
	text-align: center;
	width:100%;
}

#guesButtonsDiv{
	width:100%;
}

#resultWin{
	color:var(--win-font-color);
	font-weight:var(--semiBoldFontWeight);
	font-size:var(--result-font-size);
}

#resultFail{
	color:var(--fail-font-color);
	font-weight:var(--semiBoldFontWeight);
	font-size:var(--result-font-size);
}

#giveUp{
	font-size:var(--result-font-size);
}

#guessInput{
	background-color:var(--guessInputColor);
	font-weight:bold;
	font-size:15px;
}

#guessLetter{
	width:30%;
	height:100%;
	margin-right:5px;
	
}

#guessWord{
	width:30%;
	height:100%;
	margin-left:5px;
	margin-right:5px;
}

#giveUpBtn{
	width:30%;
	height:100%;
	margin-left:5px;
}

#newGameDiv{
	width:100%;
	text-align: center;
}

	
#newGame{
	width:90%;
	height:100%;
	margin-left:10px;
	margin-right:10px;
}

.myButton{
	background-color:var(--button-color);
	color: var(--button-font-color);
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
	border-radius: 10px;
	border:none;
}


button:hover{
	cursor:pointer;
	background-color:var(--button-focus-color);
}

button:focus{
	cursor:pointer;
	background-color:var(--button-focus-color);
}

select:hover{
	cursor:pointer;
}

#fileInput:hover{
	cursor:pointer;
}

#guessInput:hover{
	background-color:var(--guessInputFocusColor);
}

#guessInput:focus{
	background-color:var(--guessInputFocusColor);
}

button:disabled{
	opacity: 0.3;
	cursor:default;
}

select:disabled{
	cursor:default;
}
